<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'phoneregister.css' %}">
</head>
<body style="background-image: url('static/img/register.avif');">
    <div class="register">
        <form action="" method="post">
            {% csrf_token %}
            <div class="reg">
            <input type="text" name="uname" id="" placeholder="user name"><br>
            <input type="email" name="email" id="" placeholder="Email ID"><br>
            <input type="password" name="password" id="" placeholder="password">
            </div>
            <div class="sub">
            <input type="submit" value="Register">
        </div>
        </form>
    </div>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
</body>
</html>